/* Postavke za cijelu stranicu */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(180, 176, 176);
}

/* Navigation bar */
nav {
    position: fixed; /* Ostaje na vrhu stranice */
    top: 0;
    width: 100%; /* Širina navigacijskog bara */
    height: 100px; /* Visina navigacijskog bara */
    background-color: #000000d0; /* Boja pozadine */
    color: white;
    display: flex;
    z-index: 100; /* Da bude iznad ostalih elemenata */
}
.navigation_photo {
    position: left;
    padding: 20px 40px;
}
.naslovna {
    position: left;
    padding-top: 40px;
}
/* Glavni sadržaj */
main {
    margin-top: 100px; /* Gurni sadržaj ispod navigacijskog bara */
    padding: 20px;
}